/* MAIN */

main {
    min-height: auto;
	min-width: 1160px;
	display:flex;
    justify-content: space-between;
    margin: 0 10% 0 5%;
}
/* left-side */
.left-side {
    max-width: 870px;
    margin: 200px 0;
}

.text {
    font-family: 'Segoe UI';
    font-size: 48px;
    font-weight: bold;
}

/* main-info */

.main-info {
    margin-top: 20px;
    display: flex;
}

/* button */

.sub {
    background: rgb(255,151,0);
    background: linear-gradient(0deg, rgba(255,151,0,1) 0%, rgba(255,207,0,1) 100%);
    border: none;
    padding: 5px 10px 10px 10px;
    margin: 0 25px;
    font-size: 26px;
    font-weight: bold;
    border-radius: 20px;
    color: white;
}

.sub:hover {
    background: orange;
}

.sub:active {
    background: rgb(121, 78, 0);
}

/* address */

.address {
    font-size: 18px;
    padding-left: 25px;
    border-left: 1px solid gray;
    margin: 7px;
    max-width: 280px;
    padding-right: 25px;
}

/* time */

.time {
    border-left: 1px solid gray;
    font-size: 18px;
    padding-left: 25px;
    margin: 7px 0;
}

/* right-side */

/* img */

.img {
    margin: 100px 0 0 120px;

}

.img img {
    width: 475px;
    height: 475px;
    object-fit: cover;
}
