/* MAIN */

main {
    margin: 20px;
}

h2 {
    font-size: 36px;
    text-align: center;
    margin-top: 46px;
}

.services {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 60px 10% 122px 10%;
}

.services div {
    margin: 0 10px;
    font-weight: bold;
    text-align: center;
} 

.services div button {
    border: none;
    background: gray;
    border-radius: 12px;
    border: 2px solid gray;
    height: 169px;
}

.services div > div {
    max-width: 165px;
}

.services div img {
    height: 165px;
    width: 165px;
    transition: 0.3s;
    border-radius: 10px;
}

.services div img:hover {
    transform: scale(1.2);
}

.services div img:active {
    transform: scale(0.95)
}