/* MAIN */

main {
    margin: 10px 2%;
    background-color: rgba(15, 15, 15, 0.8);
    border-radius: 20px;
    border: 1px solid orange;
    min-width: 735px;
}

h2 {
    font-size: 36px;
    text-align: center;
    margin-top: 46px;
    padding-bottom: 50px;
    border-bottom: 2px solid orange;
}

.services {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 60px 10% 5% 10%;
}

.services div {
    margin: 0 10px;
    font-weight: bold;
    text-align: center;
} 

.services div button {
    border: none;
    background: gray;
    border-radius: 12px;
    border: 2px solid gray;
    height: 169px;
    margin-bottom: 10px;
}

.services div > div {
    max-width: 169px;
    margin: 0;
    margin-bottom: 20px;
}

.services div img {
    height: 165px;
    width: 165px;
    transition: 0.3s;
    border-radius: 10px;
}

.services div img:hover {
    transform: scale(1.2);
}

.services div img:active {
    transform: scale(0.95)
}