.hidden-service {
    display: none;
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.8);
    z-index: 2;
}

.in-service {
    margin: 5% auto;
    width: 60%;
    background-color: rgb(15, 15, 15);
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 0 20px rgba(255, 166, 0, 0.8);
    padding-bottom: 2%;
    border: 1px solid orange;
}

.close-service {
    color: rgb(110, 110, 110);
    margin-right: 16px;
    float: right;
    font-size: 34px;
    cursor: pointer;
}

.head {
    padding: 30px 5%;
    text-align: center;
    font-weight: bold;
    font-size: 34px;
    border-bottom: 2px solid orange;
    border-radius: 20px 20px 0 0;
}

.middle {
    padding: 10px 5%;
    font-size: 30px;
    text-align: center;
}

.under {
    text-align: left;
    border-top: 2px solid orange;
    padding-top: 30px;
    margin: 20px 5%;
    font-size: 24px;
}

.sub {
    background: rgb(255,151,0);
    background: linear-gradient(0deg, rgba(255,151,0,1) 0%, rgba(255,207,0,1) 100%);
    border: none;
    padding: 15px 20px 20px 20px;
    margin: 30px auto;
    font-size: 26px;
    font-weight: bold;
    border-radius: 20px;
    color: white;
}

.sub:hover {
    background: orange;
}

.sub:active {
    background: rgb(121, 78, 0);
}

