* {
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Segoe UI';
}

body {
    background: url(../img/back.jpg) no-repeat black;
    height: 100%;
    background-position: center;
    background-size: cover;
}

/* HEADER */

header {
    display: flex;
    padding: 25px 30px;
    background: rgba(0, 0, 0, 0.5);
    border-bottom: 1px solid orange;
}

/* name */

h1 {
    font-size: 46px;
    cursor: default;
}

/* navigation */
.nav {
    margin-left: 7%;
}

.nav ul {
    display: flex;
    list-style: none;
}

.nav ul li {
    padding: 15px 10px;
}

.nav ul li a {
    font-size: 25px;
    font-weight: bold;
    text-decoration: none;
}

.nav ul li a:hover {
    color: orange;
    border-bottom: 1px solid orange;
}

.nav ul li a:active {
    color: rgb(121, 78, 0);
}

/* numbers */
.numbers {
    display: flex;
    font-size: 20px;
    margin: 20px 0;
    margin-left: 28%;
    min-width: 200px;
}

.arrow {
    display: block;
    margin: 7px 10px;
}

.up {
    height: 5px;
    width: 5px;
    border-top: 2px solid orange;
    border-right: 2px solid orange;
    transform: rotate(-45deg);
}

.down {
    height: 5px;
    width: 5px;
    border-bottom: 2px solid orange;
    border-left: 2px solid orange;
    transform: rotate(-45deg);
}

/* hidden numbers */
.more {
    margin: 29px 0 0 27px;
    position: absolute;
    max-height: 0px;
    transition: all 0.5s ease; 
    overflow: hidden;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 0 20px 0 0;
}

.more ul li {
    border-bottom: 1px solid orange;
    border-left: 1px solid orange;
}

label {
    display: flex;
    cursor: pointer;
    border-bottom: 1px solid orange;
}

label:active {
    color: orange;
}

#arr {
    display: none;
}

#arr:checked ~ .more {
    max-height: 90px;
}

/* info */
.info {
    margin-left: 16%;
    font-size: 20px;
    padding: 20px 0;  
}

/* bottom */

/* numbers */
.bottom {
    display: flex;
    min-height: 115px;
    background: rgba(0, 0, 0, 0.8);
    border-top: 1px solid orange;
}

.bottom li {
    margin-left: 5%;
    text-align: center;
    margin-top: 50px;
    list-style: none;
}

/* icons */
.icons {
    display: flex;
    margin-top: 50px;
    margin-left: 46%;
}

.icons img {
    width: 50px;
    height: 50px;
    object-fit: cover;
}