@media (max-width: 1024px) {
        
    .in {
        width: 80%;
    }

    .info {
        display: none;
    }

    footer {
        display: block;
    }

    .num div {
        margin: 20px auto;
        padding: 10px 0;
        text-align: center;
    }

    .icons {
        display: none;
    }
}

@media (max-width: 840px) {
    .numbers {
        display: none;
    }
}
@media (max-width: 768px) {


    header {
        display: block;
        margin: 0;
        padding: 0;
    }

    main {
        display: block;
        margin: 0;
        min-width: auto;
    }

    .AvtoMast {
        padding: 10px 0;
        text-align: center;
    }

    h1 {
        font-size: 80px;
    }

    .nav {
        display: flex;
        justify-content: space-between;
        margin: 20px 15%;
    }

    .nav a {
        font-size: 36px;
    }

    .nav div {
        padding: 0;
    }

    .menu {
        display: block;
    }

    .numbers {
        display: none;
    }

    .info {
        display: none;
    }

    .icons {
        display: none;
    }

    .close {
        font-size: 24px;
    }
}

@media (max-width: 670px) {
    .numb {
        display: block;
        text-align: center;
        margin: 10px 0;
    }

    .num {
        display: block;
    }

    .num div {
        padding: 5px 0;
        text-align: center;
    }
}

@media (max-width: 425px) {
    
    header {
        display: block;
        margin: 0;
        padding: 0;
    }

    main {
        display: block;
        margin: 0;
        min-width: auto;
    }

    footer {
        display: block;
    }

    .AvtoMast {
        padding: 10px 0;
        text-align: center;
    }

    h1 {
        font-size: 46px;
    }

    .nav {
        display: flex;
        justify-content: space-between;
        margin: 20px 10%;
    }

    .nav div {
        padding: 0;
    }

    .nav a {
        font-size: 24px;
    }

    .menu {
        display: block;
    }

    .numbers {
        display: none;
    }

    .info {
        display: none;
    }
    
    .numb {
        display: block;
        text-align: center;
        margin: 10px 0;
    }

    .num {
        display: block;
    }

    .num div {
        padding: 5px 0;
        text-align: center;
    }

    .icons {
        display: none;
    }

    .reg {
        font-size: 24px;
    }

    .form {
        font-size: 16px;
    }

    .form-name {
        padding: 0 15px;
    }

    .form-num {
        padding: 0 15px;
    }

    .form-btn {
        font-size: 18px;
    }
}

@media (max-width: 375px) {

    header {
        display: block;
        margin: 0;
        padding: 0;
    }

    main {
        display: block;
        margin: 0;
        min-width: auto;
    }

    footer {
        display: block;
    }

    .AvtoMast {
        padding: 10px 0;
        text-align: center;
    }

    .nav {
        display: flex;
        justify-content: space-between;
        margin: 20px 8%;
    }

    .nav div {
        padding: 0;

    }

    .menu {
        display: block;
    }

    .numbers {
        display: none;
    }

    .info {
        display: none;
    }

    .numb {
        display: block;
        text-align: center;
        margin: 10px 0;
    }

    .num {
        display: block;
    }

    .num div {
        padding: 5px 0;
        text-align: center;
    }

    .icons {
        display: none;
    }

    .reg {
        font-size: 20px;
    }
}

@media (max-width: 320px) {

    header {
        display: block;
        margin: 0;
        padding: 0;
    }

    main {
        display: block;
        margin: 0;
        min-width: auto;
    }

    footer {
        display: block;
    }

    .AvtoMast {
        padding: 10px 0;
        text-align: center;
    }

    .nav {
        display: flex;
        justify-content: space-between;
        margin: 20px 3%;
    }

    .nav div {
        padding: 0;

    }

    .menu {
        display: block;
    }

    .numbers {
        display: none;
    }

    .info {
        display: none;
    }

    .numb {
        display: block;
        text-align: center;
        margin: 10px 0;
    }

    .num {
        display: block;
    }

    .num div {
        padding: 5px 0;
        text-align: center;
    }

    .icons {
        display: none;
    }
}